<% title h("Submit Designs") %>
<% design_class h("new") %>


<div class='grid_4'>&nbsp;</div>

<div class='grid_10 postfix_2 content'>
  <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <%- end -%>


<% if admin? || user? %>

<%= show_content_by_permalink("submit") -%>
	




<br /><br />

<% else %>

	<h1>Please login first</h1>
	<p>You must be a registered user to upload your design ideas.</p>

	<table border="0" class=''>
		<tr>
			<td>
				<div id="register_button">
					<span><%= link_to 'New user registration', :controller => "users", :action => "request_dob" -%></span>
				</div>
			</td>
			<td style='padding-left: 10px;'>
				<div id="login_button">
					<span><%= link_to 'Login', login_path -%></span>
				</div>
			</td>
		</tr>
	</table>

<% end %>

</div>

<div class='grid_16' style='height: 64px;'>&nbsp;</div>