Here is your username and password for the Next Stop Design site.</p>

Username: <%= @username -%></p>
Password: <%= @password -%></p>

You can login here: http://nextstopdesign.com/login

Thanks,
	

Next Stop Design